<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>/Users/code/Downloads/19404119_slot-sound-effects-pack_by_bant_preview.mp3</key>
	<data>
	Ym9va+ACAAAAAAQQMAAAAOHewNDbgD8u0zlZMATgTk92QJj0l6BmJ+ElWeIj5N2D3AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGNvZGUJAAAAAQEAAERv
	d25sb2FkcwAAADQAAAABAQAAMTk0MDQxMTlfc2xvdC1zb3VuZC1lZmZlY3RzLXBhY2tf
	YnlfYmFudF9wcmV2aWV3Lm1wMxAAAAABBgAAEAAAACAAAAAsAAAAQAAAAAgAAAAEAwAA
	NmIGAAAAAAAIAAAABAMAABOrDQAAAAAACAAAAAQDAAAWqw0AAAAAAAgAAAAEAwAAksws
	AQAAAAAQAAAAAQYAAJQAAACkAAAAtAAAAMQAAAAIAAAAAAQAAEHACaJBgAAAGAAAAAEC
	AAABAAAAAAAAAA8AAAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD2
	AQAACAAAAAEJAABmaWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAACn
	6AAAAAgAAAAABAAAQb4mZf0AAAAkAAAAAQEAAEJENzEzQUUwLUFFQkUtMzNCQi1BMUEx
	LUJFNjM0RDgxODQxOBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEB
	AAAvAAAAAAAAAAEFAADMAAAA/v///wEAAAAAAAAAEAAAAAQQAAB8AAAAAAAAAAUQAADU
	AAAAAAAAABAQAAD8AAAAAAAAAEAQAADsAAAAAAAAAAIgAADIAQAAAAAAAAUgAAA4AQAA
	AAAAABAgAABIAQAAAAAAABEgAAB8AQAAAAAAABIgAABcAQAAAAAAABMgAABsAQAAAAAA
	ACAgAACoAQAAAAAAADAgAADUAQAAAAAAAAHAAAAcAQAAAAAAABHAAAAgAAAAAAAAABLA
	AAAsAQAAAAAAABDQAAAEAAAAAAAAAA==
	</data>
	<key>/Users/code/Downloads/Popular Epic Win Sound Effects  2017.mp3</key>
	<data>
	Ym9va9QCAAAAAAQQMAAAAD/Roy2Gvv4QgZ0VXoh/As9DXkotI9FqGBux4ZFjd4ZC0AEA
	AAQAAAADAwAAAAgAKAUAAAABAQAAVXNlcnMAAAAEAAAAAQEAAGNvZGUJAAAAAQEAAERv
	d25sb2FkcwAAACgAAAABAQAAUG9wdWxhciBFcGljIFdpbiBTb3VuZCBFZmZlY3RzICAy
	MDE3Lm1wMxAAAAABBgAAEAAAACAAAAAsAAAAQAAAAAgAAAAEAwAANmIGAAAAAAAIAAAA
	BAMAABOrDQAAAAAACAAAAAQDAAAWqw0AAAAAAAgAAAAEAwAAeagtAQAAAAAQAAAAAQYA
	AIgAAACYAAAAqAAAALgAAAAIAAAAAAQAAEHACw9PgAAAGAAAAAECAAABAAAAAAAAAA8A
	AAAAAAAAAAAAAAAAAAAIAAAABAMAAAIAAAAAAAAABAAAAAMDAAD2AQAACAAAAAEJAABm
	aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAACn6AAAAAgAAAAABAAA
	Qb4mZf0AAAAkAAAAAQEAAEJENzEzQUUwLUFFQkUtMzNCQi1BMUExLUJFNjM0RDgxODQx
	OBgAAAABAgAAgQAAAAEAAADvEwAAAQAAAAAAAAAAAAAAAQAAAAEBAAAvAAAAAAAAAAEF
	AADMAAAA/v///wEAAAAAAAAAEAAAAAQQAABwAAAAAAAAAAUQAADIAAAAAAAAABAQAADw
	AAAAAAAAAEAQAADgAAAAAAAAAAIgAAC8AQAAAAAAAAUgAAAsAQAAAAAAABAgAAA8AQAA
	AAAAABEgAABwAQAAAAAAABIgAABQAQAAAAAAABMgAABgAQAAAAAAACAgAACcAQAAAAAA
	ADAgAADIAQAAAAAAAAHAAAAQAQAAAAAAABHAAAAgAAAAAAAAABLAAAAgAQAAAAAAABDQ
	AAAEAAAAAAAAAA==
	</data>
</dict>
</plist>
